{
  "openapi": "3.1.0",
  "info": {
    "title": "safemocker Example Actions API",
    "version": "0.2.0",
    "description": "API documentation for example server actions using next-safe-action with safemocker. These actions demonstrate real-world usage patterns with comprehensive Zod schema validation. All schemas are generated from Zod with full type safety and validation.",
    "contact": {
      "name": "safemocker",
      "url": "https://github.com/JSONbored/safemocker",
      "email": "support@zeronode.sh"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "termsOfService": "https://safemocker.zeronode.sh/docs"
  },
  "servers": [
    {
      "url": "https://safemocker.zeronode.sh",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "posts",
      "description": "Post management operations - create, read, update, delete posts",
      "externalDocs": {
        "description": "Learn more about post actions",
        "url": "https://safemocker.zeronode.sh/docs/examples/production-actions"
      }
    },
    {
      "name": "search",
      "description": "Search and discovery operations for finding posts",
      "externalDocs": {
        "description": "Learn more about search functionality",
        "url": "https://safemocker.zeronode.sh/docs/examples/production-actions"
      }
    }
  ],
  "externalDocs": {
    "description": "Complete safemocker documentation",
    "url": "https://safemocker.zeronode.sh/docs"
  },
  "components": {
    "schemas": {},
    "parameters": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Include the token in the Authorization header as: Bearer <token>"
      }
    }
  },
  "paths": {
    "/actions/createPost": {
      "post": {
        "summary": "Create a new post",
        "description": "Creates a new post. Requires authentication. Validates input schema and returns the created post with full metadata. The action uses comprehensive Zod schema validation to ensure data integrity.",
        "tags": [
          "posts"
        ],
        "operationId": "createPost",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "content": {
                    "type": "string",
                    "minLength": 50
                  },
                  "slug": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]+$"
                  },
                  "published": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                },
                "required": [
                  "title",
                  "content",
                  "slug"
                ]
              },
              "examples": {
                "createPost": {
                  "summary": "Create a new post",
                  "value": {
                    "title": "My First Post",
                    "content": "This is the content of my first post. It has enough characters to pass validation.",
                    "slug": "my-first-post",
                    "published": true,
                    "tags": [
                      "typescript",
                      "nextjs",
                      "testing"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created successfully",
            "headers": {
              "Content-Type": {
                "description": "Content type of the response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "application/json"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "authorId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "content",
                    "slug",
                    "published",
                    "authorId",
                    "createdAt",
                    "tags"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Successful post creation",
                    "value": {
                      "id": "post-1234567890",
                      "title": "My First Post",
                      "content": "This is the content of my first post. It has enough characters to pass validation.",
                      "slug": "my-first-post",
                      "published": true,
                      "authorId": "test-user-id",
                      "createdAt": "2024-01-01T00:00:00.000Z",
                      "tags": [
                        "typescript",
                        "nextjs",
                        "testing"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Input validation failed. The request body contains invalid data or missing required fields. Check the `fieldErrors` object for specific validation errors per field.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fieldErrors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Object mapping field names to arrays of error messages"
                    }
                  },
                  "required": [
                    "fieldErrors"
                  ]
                },
                "examples": {
                  "validationError": {
                    "summary": "Input validation failed - multiple fields",
                    "description": "Example showing validation errors for multiple fields",
                    "value": {
                      "fieldErrors": {
                        "title": [
                          "Title is required"
                        ],
                        "content": [
                          "Content must be at least 50 characters"
                        ],
                        "slug": [
                          "Slug must be lowercase alphanumeric with hyphens"
                        ]
                      }
                    }
                  },
                  "singleFieldError": {
                    "summary": "Input validation failed - single field",
                    "description": "Example showing validation error for a single field",
                    "value": {
                      "fieldErrors": {
                        "title": [
                          "Title must be between 1 and 200 characters"
                        ]
                      }
                    }
                  },
                  "emptyTitle": {
                    "summary": "Empty title validation error",
                    "description": "Title field is required and cannot be empty",
                    "value": {
                      "fieldErrors": {
                        "title": [
                          "Title is required"
                        ]
                      }
                    }
                  },
                  "invalidSlug": {
                    "summary": "Invalid slug format",
                    "description": "Slug must match the pattern: lowercase alphanumeric with hyphens only",
                    "value": {
                      "fieldErrors": {
                        "slug": [
                          "Slug must be lowercase alphanumeric with hyphens"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required but was not provided or is invalid. Include a valid Bearer token in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string",
                      "description": "Error message indicating authentication is required or failed"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "noToken": {
                    "summary": "No authentication token provided",
                    "description": "Request made without Authorization header",
                    "value": {
                      "serverError": "Authentication required"
                    }
                  },
                  "invalidToken": {
                    "summary": "Invalid authentication token",
                    "description": "Token provided but is invalid or expired",
                    "value": {
                      "serverError": "Invalid or expired authentication token"
                    }
                  },
                  "missingAuth": {
                    "summary": "Authentication required",
                    "description": "This endpoint requires authentication",
                    "value": {
                      "serverError": "Authentication required to perform this action"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server. This is typically a temporary condition. If the error persists, please contact support.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string",
                      "description": "Human-readable error message describing what went wrong"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "serverError": {
                    "summary": "Generic server error",
                    "description": "An unexpected error occurred",
                    "value": {
                      "serverError": "An unexpected error occurred. Please try again later."
                    }
                  },
                  "databaseError": {
                    "summary": "Database error",
                    "description": "Error occurred while accessing the database",
                    "value": {
                      "serverError": "Database connection error. Please try again later."
                    }
                  },
                  "processingError": {
                    "summary": "Processing error",
                    "description": "Error occurred while processing the request",
                    "value": {
                      "serverError": "Error processing request. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/getPost": {
      "post": {
        "summary": "Get a post by ID",
        "description": "Retrieves a post by its UUID. Optional authentication - public posts don't require auth.",
        "tags": [
          "posts"
        ],
        "operationId": "getPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "postId"
                ]
              },
              "examples": {
                "getPost": {
                  "summary": "Get post by ID",
                  "value": {
                    "postId": "123e4567-e89b-12d3-a456-426614174000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "authorId": {
                      "type": "string"
                    },
                    "isAuthor": {
                      "type": "boolean"
                    },
                    "viewerId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "content",
                    "slug",
                    "published",
                    "authorId",
                    "isAuthor",
                    "createdAt"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Post retrieved successfully",
                    "value": {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "Example Post",
                      "content": "This is the post content.",
                      "slug": "example-post",
                      "published": true,
                      "authorId": "author-123",
                      "isAuthor": false,
                      "viewerId": "test-user-id",
                      "createdAt": "2024-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Input validation failed. The postId must be a valid UUID format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fieldErrors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Object mapping field names to arrays of error messages"
                    }
                  },
                  "required": [
                    "fieldErrors"
                  ]
                },
                "examples": {
                  "invalidId": {
                    "summary": "Invalid post ID format",
                    "description": "Post ID must be a valid UUID",
                    "value": {
                      "fieldErrors": {
                        "postId": [
                          "Invalid post ID",
                          "Post ID must be a valid UUID"
                        ]
                      }
                    }
                  },
                  "missingId": {
                    "summary": "Missing post ID",
                    "description": "Post ID is required",
                    "value": {
                      "fieldErrors": {
                        "postId": [
                          "Post ID is required"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string",
                      "description": "Human-readable error message describing what went wrong"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "serverError": {
                    "summary": "Internal server error",
                    "value": {
                      "serverError": "Something went wrong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/updatePost": {
      "post": {
        "summary": "Update a post",
        "description": "Updates an existing post. Requires authentication and authorization (user must own the post). The action validates both input and output schemas to ensure data integrity.",
        "tags": [
          "posts"
        ],
        "operationId": "updatePost",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "content": {
                    "type": "string",
                    "minLength": 50
                  },
                  "published": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "postId"
                ]
              },
              "examples": {
                "updatePost": {
                  "summary": "Update post",
                  "value": {
                    "postId": "123e4567-e89b-12d3-a456-426614174000",
                    "title": "Updated Title",
                    "content": "This is updated content with enough characters to pass validation requirements.",
                    "published": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "content",
                    "published",
                    "updatedAt"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Post updated successfully",
                    "value": {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "title": "Updated Title",
                      "content": "Updated content",
                      "published": true,
                      "updatedAt": "2024-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fieldErrors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Object mapping field names to arrays of error messages"
                    }
                  },
                  "required": [
                    "fieldErrors"
                  ]
                },
                "examples": {
                  "validationError": {
                    "summary": "Invalid input",
                    "value": {
                      "fieldErrors": {
                        "postId": [
                          "Invalid post ID"
                        ],
                        "title": [
                          "Title must be less than 200 characters"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Authentication required",
                    "value": {
                      "serverError": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed - user does not own the post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "forbidden": {
                    "summary": "Not authorized",
                    "value": {
                      "serverError": "You do not have permission to update this post"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string",
                      "description": "Human-readable error message describing what went wrong"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "serverError": {
                    "summary": "Internal server error",
                    "value": {
                      "serverError": "Something went wrong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/deletePost": {
      "post": {
        "summary": "Delete a post",
        "description": "Deletes a post by its UUID. Requires authentication and authorization (user must own the post). The action validates the post ID format and ensures the user has permission to delete the post.",
        "tags": [
          "posts"
        ],
        "operationId": "deletePost",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "postId"
                ]
              },
              "examples": {
                "deletePost": {
                  "summary": "Delete post by ID",
                  "value": {
                    "postId": "123e4567-e89b-12d3-a456-426614174000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "postId": {
                      "type": "string"
                    },
                    "deletedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "deleted",
                    "postId",
                    "deletedAt"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Post deleted successfully",
                    "value": {
                      "deleted": true,
                      "postId": "123e4567-e89b-12d3-a456-426614174000",
                      "deletedAt": "2024-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fieldErrors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Object mapping field names to arrays of error messages"
                    }
                  },
                  "required": [
                    "fieldErrors"
                  ]
                },
                "examples": {
                  "invalidId": {
                    "summary": "Invalid post ID",
                    "value": {
                      "fieldErrors": {
                        "postId": [
                          "Invalid post ID"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Authentication required",
                    "value": {
                      "serverError": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed - user does not own the post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "forbidden": {
                    "summary": "Not authorized",
                    "value": {
                      "serverError": "You do not have permission to delete this post"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string",
                      "description": "Human-readable error message describing what went wrong"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "serverError": {
                    "summary": "Internal server error",
                    "value": {
                      "serverError": "Something went wrong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/searchPosts": {
      "post": {
        "summary": "Search posts",
        "description": "Searches posts by query string. Rate limited, optional authentication.",
        "tags": [
          "search",
          "posts"
        ],
        "operationId": "searchPosts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50
                  }
                },
                "required": [
                  "query"
                ]
              },
              "examples": {
                "searchPosts": {
                  "summary": "Search posts",
                  "value": {
                    "query": "typescript",
                    "limit": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "published": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "slug",
                          "published"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "results",
                    "total"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Search results",
                    "value": {
                      "results": [
                        {
                          "id": "post-1",
                          "title": "Search Result 1",
                          "slug": "search-result-1",
                          "published": true
                        },
                        {
                          "id": "post-2",
                          "title": "Search Result 2",
                          "slug": "search-result-2",
                          "published": true
                        }
                      ],
                      "total": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Input validation failed. The query must be between 1 and 100 characters, and limit (if provided) must be between 1 and 50.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fieldErrors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Object mapping field names to arrays of error messages"
                    }
                  },
                  "required": [
                    "fieldErrors"
                  ]
                },
                "examples": {
                  "invalidQuery": {
                    "summary": "Invalid search query",
                    "description": "Query is required and must be between 1 and 100 characters",
                    "value": {
                      "fieldErrors": {
                        "query": [
                          "Search query is required"
                        ]
                      }
                    }
                  },
                  "queryTooLong": {
                    "summary": "Query too long",
                    "description": "Query exceeds maximum length of 100 characters",
                    "value": {
                      "fieldErrors": {
                        "query": [
                          "Query too long",
                          "Query must be less than 100 characters"
                        ]
                      }
                    }
                  },
                  "invalidLimit": {
                    "summary": "Invalid limit",
                    "description": "Limit must be between 1 and 50",
                    "value": {
                      "fieldErrors": {
                        "limit": [
                          "Limit must be between 1 and 50"
                        ]
                      }
                    }
                  },
                  "emptyQuery": {
                    "summary": "Empty query",
                    "description": "Query cannot be empty",
                    "value": {
                      "fieldErrors": {
                        "query": [
                          "Search query is required",
                          "Query cannot be empty"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded. The client has made too many requests in a given time period. Please wait before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed per time window",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current time window",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the rate limit resets",
                "schema": {
                  "type": "integer",
                  "example": 1609459200
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string",
                      "description": "Error message indicating rate limit has been exceeded"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "rateLimited": {
                    "summary": "Rate limit exceeded",
                    "description": "Too many requests in a short time period",
                    "value": {
                      "serverError": "Rate limit exceeded. Please try again later."
                    }
                  },
                  "tooManyRequests": {
                    "summary": "Too many requests",
                    "description": "Rate limit has been exceeded for this endpoint",
                    "value": {
                      "serverError": "Too many requests. Please wait a moment before trying again."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverError": {
                      "type": "string",
                      "description": "Human-readable error message describing what went wrong"
                    }
                  },
                  "required": [
                    "serverError"
                  ]
                },
                "examples": {
                  "serverError": {
                    "summary": "Internal server error",
                    "value": {
                      "serverError": "Something went wrong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}